body {
    max-width: 1280px;
    width: 100vw;
    margin: unset;
}

header {
    background-color: white;
    position: fixed;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}


.navbars {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    font-style: normal;
    text-decoration: none;
    display: flex;
    gap: 32px;
    margin: 6px 0px 0px 0px;
}

.menu a {
    color: black;
}

.social {
    margin: 0px 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}


main {
    width: 90%;
    max-width: 1280px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#home {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 90vh;
    padding: 6vw 6vw 6vw 6vw;
    align-items: flex-start;
    margin: unset;
}

#home img {
    /* display: flex;
    width: 25vw; */
    display: flex;
    width: 18vw;


}

.texto {
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    margin: unset;
    /* margin: 0vw 0vw; */
}

#home .title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 80px;
    text-align: left;

}


#home h1 {
    padding-top: 40px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    margin: unset;
    color: #000000;
}

#work {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0vw;
}

.angelapp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 64px 32px;
    gap: 44px;
    max-width: 1280px;
    width: 100%;
    background: rgba(124, 0, 67, 0.4);
}

.angelapp img {
    width: 272.5px;
    height: 392.5px;
}

.textoangelapp {
    padding-left: 40px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;

}

p {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    padding-top: 24px;
    line-height: 24px;
    text-align: justify;

}

.quizflix {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 64px 32px;
    gap: 44px;
    max-width: 1280px;
    width: 100%;
    height: 520.5px;
    background: rgba(238, 214, 2, 0.3);
}

.quizflix img {
    width: 224.5px;
    height: 414.5px;
}

.textoquizflix {
    padding-left: 40px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

.ecommerce {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 32px;

    max-width: 1280px;
    width: 100%;

    background: rgba(0, 181, 138, 0.3);
}

.ecommerce img {
    width: 508px;
    height: 393px;
}

.textoecommerce {
    padding-left: 40px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

#aboutme {
    background-color: white;
    padding: 64px 32px;
    margin: unset;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#aboutme img {
    width: 386px;
    height: 490px;
}

.textoaboutme {
    padding-left: 60px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

#contact {

    background-color: white;
    padding: 0px 32px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


#contact img {
    width: 421px;
    height: 421px;
}

.textcontact {
    display: flex;
    flex-direction: column;
}

.line1 {
    display: flex;
    align-items: baseline;
}

.line1 input {
    margin-left: 16px;
    display: inline-block;
    position: initial;
    justify-content: center;
    text-align: start;
    align-items: center;
    width: 300px;
    height: 39px;
    font-family: sans-serif;
    color: #E5E5E5;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    border: 1px solid #E5E5E5;
}

.line2 {
    display: flex;
    flex-direction: column;
}

.line2 p {
    line-height: 60px;
}

.line2 input {
    display: inline-block;
    position: initial;
    justify-content: center;
    text-align: start;
    align-items: stretch;
    width: 600px;
    height: 80px;
    font-family: sans-serif;
    color: #E5E5E5;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    border: 1px solid #E5E5E5;
}

.line3 {
    display: flex;
    align-items: baseline;
}

.line3 input {
    margin-left: 16px;
    display: inline-block;
    position: initial;
    justify-content: center;
    text-align: start;
    align-items: center;
    width: 300px;
    height: 39px;
    font-family: sans-serif;
    color: #E5E5E5;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    border: 1px solid #E5E5E5;
}

.button {
    width: 132px;
    height: 39px;
    background-color: rgba(239, 153, 202, 0.63);
    border-radius: 8px;
    display: flex;
    align-self: flex-end;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.button:hover {
    animation: changeColor 8s;
}

@keyframes changeColor {
    0% {
        background-color: rgba(239, 153, 202, 0.63);
    }

    50% {
        background-color: rgb(192, 94, 159);
        padding-left: 10px;
        padding-right: 10px;
        top: 100px;
        left: 1000px
    }

    100% {
        background-color: rgba(239, 153, 202, 0.63);
    }

}


/* .button{
    background-color: rgba(239, 153, 202, 0.63);
    padding: 8px 32px;
    border-radius: 8px;
    text-decoration: none;
    animation: changeColor 8s;
    position: absolute;

} */

.line4 {
    margin-top: 10px;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {

    .social {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 40px;
    }

    .navbars {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #home {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        padding: 18vw 6vw 6vw 6vw;
        align-items: center;
        margin: unset;
    }

    #home .title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        text-align: left;

    }


    #home h1 {
        padding-top: 60px;
        font-family: Verdana;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        margin: unset;
        color: #000000;
    }

    #home img {
        position: absolute;
        left: 80%;
        top: 25%;
        object-fit: contain;
        width: 18vw;
    }
}

@media (max-width: 360px) {

    .social {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 40px;
    }

    .navbars {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #home {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        padding: 18vw 6vw 6vw 6vw;
        align-items: center;
        margin: unset;
    }

    #home .title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        text-align: left;

    }


    #home h1 {
        padding-top: 40px;
        font-family: Verdana;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        margin: unset;
        color: #000000;
    }

    #home img {
        position: absolute;
        left: 80%;
        top: 8%;
        object-fit: contain;
        width: 12vw;
    }

    .angelapp {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 64px 32px;
        gap: 44px;
        max-width: 1280px;
        width: 100%;
        background: rgba(124, 0, 67, 0.4);
    }

    .textoangelapp {
        margin: unset;
        display: flex;
        flex-direction: column;
    }

    .angelapp img {
        width: 272.5px;
        height: 392.5px;
        margin: unset;
    }
}